.contenido {
	text-align: left;
   	width: 50%;
	margin: 0 auto;
	font-family: Verdana;
	clear: left;
}

.intermedio {
	width: 80%;
}

.opinion {
color: #2980B9
}

.imagen-central {
	width: 50%;
	margin: 0 auto;
	float: left;
	margin-left: 100px;
}

.titulo-principal {
	width:90%;
	margin: 0 auto;
	font-family: Verdana;
}

#titulo {
	font-size: 40px;
	font-family: Verdana;
}

.autor {
	width: 50%;
	margin: 0 auto;
	text-align: left;
	font-family: Verdana;
	clear: left;
}

.redes {
	float: left;
	margin-top: 30px;
	
}
li {
margin-top: 20px;
}

button {
	width: 100px;
	height: 40px;
}